@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    /* -webkit-text-fill-color: #fff !important; */
  }

  input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
    color: fieldtext !important;
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
}

@layer components {
  .icon {
    @apply block w-6 h-6;
  }

  .icon svg {
    @apply !w-full !h-full !fill-current;
  }

  .bg-make-transparent {
    background: repeating-conic-gradient(rgb(246,246,249) 0%,rgb(246,246,249) 25%,transparent 0%,transparent 50%) 50% center / 20px 20px;
  }
}

@layer utilities {
  .bg-transparent {
    background-color: transparent;
  }
}